<div *ngIf="vm$ | async as vm" class="p-4 md:p-8 bg-white rounded-lg shadow-lg max-w-3xl mx-auto mt-10 border">
  <h1 class="text-4xl font-semibold mb-4">Import Flowchart JSON</h1>
  <form (submit)="importJson()">
    <textarea name="textarea" [(ngModel)]="flowchartJson" class="w-full text-gray-500 min-h-[600px] shadow-lg border rounded-lg p-2" placeholder="JSON"></textarea>
    <button type="submit" class="w-full bg-blue-500 text-white shadow-lg rounded-lg py-2 mt-2 hover:bg-blue-700 cursor-pointer">Submit</button>
  </form>
</div>
