<div class="info-container max-w-[80%] m-2 mx-auto" *ngIf="flowchart !== undefined">
  <h2 class="text-4xl font-semibold mb-4">Flowchart Info</h2>
  <div class="max-w-max bg-blue-100 info-container">
    <p class="font-semibold text-lg mb-2"><strong>Name:</strong> {{ flowchart.label }}</p>
    <p class="font-semibold text-lg mb-2"><strong>ID:</strong> {{ flowchart.uid }}</p>
    <button class="px-4 py-2 mr-2 font-semibold text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50" (click)="runFlowchart()">Run Flowchart</button>
    <button class="px-4 py-2 font-semibold text-gray-700 bg-gray-200 rounded hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50" (click)="stopFlowchart()">Stop Flowchart</button>
  </div>
  <div class="mt-6 mx-auto w-full grid grid-cols-2 max-sm:grid-cols-1">
    <app-flowchart-display></app-flowchart-display>
    <app-flowchart-import-json [flowchartJson]="flowchart | json"></app-flowchart-import-json>
  </div>
  
  <div class="mt-6">
    <h3 class="text-2xl font-semibold mb-2">Jobs:</h3>
    <app-job-list [graphId]="flowchart.uid" ></app-job-list>
  </div>
</div>
