<div *ngFor="let flowchart of flowcharts" class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3 transition duration-500 ease-in-out transform hover:bg-gray-200">
  <a [routerLink]="['/flowcharts', flowchart.id]" class="block">
    <div class="flex justify-between">
      <div class="md:flex">
        <div class="md:flex-shrink-0">
        </div>
        <div class="p-8">
          <div class="block mt-1 text-lg leading-tight font-medium text-black">{{ flowchart.name }}</div>
          <p class="mt-2 text-gray-500"></p>
        </div>
      </div>
      <button (click)="deleteFlowchart(flowchart.id); $event.stopPropagation();" class="p-2 bg-red-500 transition duration-200 ease-in-out text-white rounded self-center mr-4 hover:bg-red-700">Delete</button>
    </div>
  </a>
</div>
