<div class="overflow-x-auto">
  <table class="mx-auto max-w-4xl w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden">
    <thead class="bg-gray-50">
      <tr class="text-left font-bold">
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500 hover:bg-gray-200" (click)="sortJobs('job_id')">Job ID</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500 hover:bg-gray-200" (click)="sortJobs('graph_id')">Graph ID</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500 hover:bg-gray-200" (click)="sortJobs('status')">Status</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500 hover:bg-gray-200" (click)="sortJobs('created')">Created</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500 hover:bg-gray-200" (click)="sortJobs('updated')">Updated</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500 hover:bg-gray-200" (click)="sortJobs('metadata')">Metadata</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500 hover:bg-gray-200" (click)="sortJobs('actions')">Actions</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-300">
      <tr *ngFor="let job of jobs" class="text-gray-700 hover:bg-gray-100 transition-colors duration-200">
        <td class="px-6 py-4">{{ job.job_id }}</td>
        <td class="px-6 py-4">{{ job.graph_id }}</td>
        <td class="px-6 py-4">{{ job.job_status }}</td>
        <td class="px-6 py-4">{{ job.created }}</td>
        <td class="px-6 py-4">{{ job.updated }}</td>
        <td class="px-6 py-4">{{ job.metadata | json }}</td>
        <td class="px-6 py-4">
          <a [routerLink]="['/jobs', job.job_id]" class="inline-block px-4 py-2 text-sm font-medium text-center text-white bg-blue-600 rounded hover:bg-blue-700 transition-colors duration-200">View Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
