<!-- job-list.component.html -->
<div class="overflow-x-auto">
  <table class="mx-auto max-w-4xl w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden">
    <thead class="bg-gray-50">
      <tr class="text-left font-bold">
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500">Job ID</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500">Status</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500">Created</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500">Updated</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500">Metadata</th>
        <th class="px-6 py-4 text-xs leading-4 tracking-wider text-gray-500">Actions</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-300">
      <tr *ngFor="let job of jobs" class="text-gray-700">
        <td class="px-6 py-4">{{ job.job_id }}</td>
        <td class="px-6 py-4">{{ job.job_status }}</td>
        <td class="px-6 py-4">{{ job.created }}</td>
        <td class="px-6 py-4">{{ job.updated }}</td>
        <td class="px-6 py-4">{{ job.metadata | json }}</td>
        <td class="px-6 py-4">
          <a [routerLink]="['/jobs', job.job_id]" class="text-blue-600 hover:text-blue-900">View Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
