<div class="container mx-auto px-4 py-4 max-w-[80%]">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="p-4 border border-gray-200 rounded-lg transition duration-200 ease-in-out hover:border-blue-500 hover:shadow-lg"
            *ngFor="let node of nodeTypes$ | async">
            <h2 class="text-2xl font-bold mb-2">{{node.nodeType}}</h2>
            <ul>
                <li *ngFor="let option of node.options">
                    {{option}}
                </li>
            </ul>
        </div>
    </div>
</div>