canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.toolbar-button {
    height: 30px;
    margin: 5px;
    background: #1e1e1e;  
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
}

.toolbar-button:hover {
    background: #2e2e2e;
}