html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #282C34;
    color: #ffffff;
    margin: 0;
}

.flowchart-display {
    padding: 20px;
}

.flowchart {
    background: #3B4048;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.flowchart h2 {
    margin: 0;
}

.flowchart p {
    margin: 5px 0;
}

.delete-button {
    background: #E06C75;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    
}

.delete-button:hover {
    background: #BE5046;
}

.create-button {
    background: #61AFEF;
    border: none;
    color: #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.create-button:hover {
    background: #3D8FD1;
}

.open-button {
    background: #98C379;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.open-button:hover {
    background: #75A667;
}
